
:host .snackbar{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: #333;
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 16px rgba(0,0,0,0.5);
    transform: scale(0);
    animation: scaleIn .2s ease-in-out forwards;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

:host .snackbar .btn-close{
    border: none;
    outline: none;
    background-color: inherit;
    color: orange;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
}

@keyframes scaleIn{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}